@charset "UTF-8";
/* CSS Document */


body{background:#fff;
height:1000px;
width:100%;
margin: 0;
padding:0
}

a{text-decoration:none}

#full{
	background: #85afc3;
	width:100%;
	height:48px;}
	
	
	#full2{
	background: #fff;
	width:100%;
	height:48px;}


#full #content,#contentGeneral{
	width:980px;
	margin-left:auto;margin-right:auto
}



#full #content p#base{
	float:left;
	color:#2a2c33;
	 font-family: "natio", verdana;
	 font-weight:lighter;
	 font-size:11px	;
	 letter-spacing:0.35em;
	 padding-top:7px;
	 padding-left:10px;
	 left:0;
	 width:300px
}


#full #content p#baseDroite{
	float:right;
	color:#2a2c33;
	 font-family: "natio", verdana;
	 font-weight:lighter;
	 font-size:11px	;
	 letter-spacing:0.35em;
	  padding-top:7px;
	 right:0;
}

#facebook{float:right;padding-top:7px;margin-left:20px;transition: all 0.5s;}

#facebook:hover,#pinterest:hover{opacity:0.7;}

#pinterest{float:right;padding-top:7px;margin-left:20px;transition: all 0.5s;}

#full #content p#baseDroite a img{
}


#full #content p#baseDroite a{
	text-decoration:none;
	text-transform:uppercase;
	color:#ffffff}
	
	#full #content p#baseDroite a:hover{
	color:#2a2c33;}


a#ebay{color:#fff;
text-decoration:none;transition: all 0.5s;
}


a#ebay:hover{
	color:#85afc3;
}

#baseline{
	color:#2a2c33;
	background:#fff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:30px;
	width:500px;
	padding:10px 0;
	font-size:11px	;
	letter-spacing:0.35em;
	 font-family: "natio", verdana;}
	 
img#fleche{
	float:right;
padding-right:40%;
	width:128px}	 
	 

p#appel{
	color:#85afc3;
	margin-left:auto;
	text-align:center;
	margin-top:30px;
	font-size:11px	;
	letter-spacing:0.35em;
	 font-family: "natio", verdana;
	 text-transform:uppercase;line-height:20px}

#contentGeneral img{
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
	padding-left:65px}

@font-face {
  font-family: "natio";
  src: url('National_Medium.otff');
}


#footer{
		margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:250px;
	width:700px;
	text-align:center;
	color:#FFF;font-family: "natio", verdana;
	font-size:8px;
	text-transform: uppercase;
	letter-spacing:0.10em;
	line-height:18px}
	
#footer a{	
text-decoration:none;
color: #fff;transition: all 0.5s;}


#footer a:hover{	
text-decoration:none;
color: #85afc3;}



